.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 400px;
  }
  
  .modal-content h2 {
    margin: 0 0 20px;
    font-size: 20px;
  }
  
  .modal-input {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  .modal-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    /* border:2px solid red; */
  }
  
  .cancel-button-modal,
  .create-button-modal {
    /* padding: 10px 20px;
    border: none; */
    border-radius: 4px;
    cursor: pointer;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cancel-button-modal{
    background-color: #ffcccc;
    color: #e63946;
  }
  
  .create-button-modal{
    background-color: #512da8;
    color: white;
  }
  